<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1027575324805-m9u22eqnbnnq3pee687apkeu7e5rn2s3.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1027575324805-m9u22eqnbnnq3pee687apkeu7e5rn2s3</string>
	<key>API_KEY</key>
	<string>AIzaSyA_lt2EOXhgBd0bMq4e8G28CTsNVnUkOdE</string>
	<key>GCM_SENDER_ID</key>
	<string>1027575324805</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.flowersunicorn</string>
	<key>PROJECT_ID</key>
	<string>flowers-unicorn</string>
	<key>STORAGE_BUCKET</key>
	<string>flowers-unicorn.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1027575324805:ios:3495a350c3495b45ba89ec</string>
	<key>DATABASE_URL</key>
	<string>https://flowers-unicorn.firebaseio.com</string>
</dict>
</plist>